<!DOCTYPE html>
html(lang="en")
  head
   include partials/_head.jade
  body
    block navbar
    
    .container.mb-4
      block content

    include partials/_footer.jade
    include partials/_script.jade