extend _layout.jade

block navbar
  - var path = 'index.html'
  include partials/_navbar.jade
block content
  .mb-4.p-5.text-center.banner
    h1.display-2
      | GULP4-DEMO
    p.lead
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quia?

  .row
    .col-md-12
      .card-deck.mb-4
        .card
          img.card-img-top(src="images/card-img.jpg", style='height:300px')
        .card
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, quod!
            small.text-muted
              | Lorem, ipsum dolor.
    .col-md-12
      .card-deck.mb-4
        .card
          .card-body
            h5.card-title Card title
            p.card-text
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, quod!
            small.text-muted
              | Lorem, ipsum dolor.
        .card
          img.card-img-top(src="images/card-img2.jpg", style='height:300px')
    
